<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
        => List view
        {% for book in object_list %}
            <h1>
                {{book.name}}
            </h1>
        {% endfor %}
        <br>
        {% for book in books %}
            <h1>
                {{book.pk}}
            </h1>
        {% endfor %}
    -->

    <!--
        => Detail view

        {{object.name}}
        {{book.name}}
    -->

    <!--
        => Create view

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="create">
        </form>
    -->
    <!--
        => Update view

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="update">
        </form>
    -->

    <!--
        => Delete view

        <form method="post">
            {% csrf_token %}
            <input type="submit" value="delete">
        </form>
    -->
        
    <!--
        => Form view

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="form View">
        </form>
    -->


    <!--
        => Login view

        
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Login">
            </form>

    -->


    <!--
        => Logout view


        <form action= method="post">
            {% csrf_token %}
            <input type="submit" value="logout">
        </form>
    -->
    
    {{message}}


</body>
</html>